
body { 
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	}
	
	.topnav {
	margin-top: -5px;
	overflow: hidden;
	background-color:lightskyblue;
	}
	  
	.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
	
	.topnav a:hover {
	background-color: #ddd;
	color: black;
	}
	
	/*Accueil*/
	.items{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.tSante{
	
		width: 25%;
		padding-left: 8%;
	
	}
	.tCoeur{
		padding-left: 6%;
		width: 25%;
	}
	.tRosemont{
		padding-left: 8%;
		width: 25%;
	}
	.tTalon{
		padding-left: 11%;
		width: 25%;
	}
	.imgSante{
		transition: 1s ease;
		filter: brightness(100%);
		width: 25%;
	}
	.imgSante:hover{
		transition: 1s ease;
		filter: brightness(50%);
	}
	
	.imgCoeur{
		transition: 1s ease;
		filter: brightness(100%);
		width: 25%;
	}
	.imgCoeur:hover{
		transition: 1s ease;
		filter: brightness(50%);
	}
	
	.imgRosemont{
		transition: 1s ease;
		filter: brightness(100%);
		width: 25%;
	}
	.imgRosemont:hover{
		transition: 1s ease;
		filter: brightness(50%);
	}
	
	.imgTalon{
		transition: 1s ease;
		filter: brightness(100%);
		width: 25%;
	}
	.imgTalon:hover{
		transition: 1s ease;
		filter: brightness(50%);
	}
	.Buttons {
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		transition-duration: 0.4s;
		cursor: pointer;
	  }
	  .buttons {
		background-color: white; 
		color: black; 
		border: 2px solid lightskyblue;
	  }
	  
	  .buttons:hover {
		background-color: lightskyblue;
		color: white;
	  }
	